<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{REQUEST_URI} !-f
RewriteCond %{REQUEST_URI} !-d
RewriteCond %{REQUEST_URI} !-L
RewriteRule ^favicon\.ico$ /images/icons/favicon.ico [L]
RewriteRule ^(media|test|css|vendors|vendor|js|img|upload)($|/) - [L]
RewriteRule ^(.*)$ router.php?req=$1 [L,QSA]
</IfModule>

# see NGINX config here:
# env/docker/config/nginx/vhost/laingame.local.conf
