$mobile: "(max-width: 800px)";

$mobileFixedLayer: 20;

@mixin hide-scrolls {
    scrollbar-color: transparent;
    scrollbar-width: none;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    &::-webkit-scrollbar {
        width: 0;
        height: 0;
        display: none;
        background: transparent;
        -webkit-appearance: none;
    }
}
